min_version = "2025.10.11"

[tools]
rust = "1.92.0"
node = "22.12.0"
deno = "1.46.1"
cargo-binstall = "1.10.15"
"npm:lefthook" = "1.8.5"
"npm:@commitlint/config-conventional" = "19.6.0"
"npm:@commitlint/cli" = "19.6.0"
"npm:@commitlint/types" = "19.5.0"
"npm:repomix" = "1.5.0"
"cargo:https://github.com/DenisGorbachev/cargo-doc2readme" = "branch:dev"
"cargo:cargo-sort" = "1.0.9"
"cargo:cargo-hack" = "0.6.33"
"cargo:cargo-machete" = "0.7.0"
"cargo:cargo-nextest" = "0.9.102"
"cargo:cargo-expand" = "1.0.114"
"cargo:rumdl" = "0.0.185"
"cargo:sd" = "1.0.0"
"cargo:cargo-progenitor" = "0.11.1"
jq = "1.8.1"

[tasks."build"]
run = "cargo build"

[tasks."fix:code:style"]
run = "cargo fmt --all"

[tasks."lint"]
depends = ["lint:code", "lint:docs", "lint:deps"]

[tasks."test"]
depends = ["test:code", "test:docs"]

[tasks."lint:code"]
run = "cargo clippy --all-targets --all-features"
# NOTE: I have removed "-- -D warnings" because I don't want to fix the "irrefutable `if let` pattern" warnings

[tasks."lint:docs"]
run = "rumdl check"

[tasks."lint:deps"]
run = "cargo machete --with-metadata"

[tasks."test:code"]
run = "cargo nextest run --all-features --no-tests warn"

[tasks."test:docs"]
run = "cargo test --doc --all-features --no-fail-fast --quiet"

[tasks."fix:deps:order"]
run = "cargo sort"

[tasks."fix:code"]
# run the tasks sequentially because they modify the same files
run = """
mise run fix:code:warnings
mise run fix:code:style
"""

[tasks."fix"]
# run the tasks in parallel because they modify different files
depends = ["fix:code", "fix:docs", "fix:deps"]

[tasks."fix:code:warnings"]
# second pass is needed because "cargo clippy --fix" exits with 0 even if some warnings remain
env = { __CARGO_FIX_YOLO = 'yeah' }
run = """
cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged
cargo clippy --all-targets --all-features -- -D warnings
"""

[tasks."fix:deps"]
# run the tasks sequentially because they modify the same files
run = """
mise run fix:deps:usage
mise run fix:deps:order
"""

[tasks."fix:deps:usage"]
run = "cargo machete --with-metadata --fix"

[tasks."watch"]
run = """
#!/usr/bin/env bash
set -euo pipefail
PWD=$(pwd)
CMD_RAW="nextest run $*"
CMD_NO_WHITESPACE="$(echo -e "${CMD_RAW}" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"
cargo watch --clear --watch "$PWD" --exec "$CMD_NO_WHITESPACE" "$@"
"""

[tasks."gen:readme"]
run = "./README.ts --output README.md"

[tasks."commitlint"]
run = "commitlint --extends \"$(mise where npm:@commitlint/config-conventional)/lib/node_modules/@commitlint/config-conventional/lib/index.js\""

[tasks."gen"]
run = """
#!/usr/bin/env bash

set -xeuo pipefail

SPEC="coda.openapi.json"
LIB="src/lib.rs"
SDF="sd --fixed-strings"
TEMP=$(mktemp -d)

# download the spec
curl https://coda.io/apis/v1/openapi.json > $SPEC

# fix & format the spec
for ENUM in PageType TableType ControlType; do
    $SDF "$ENUM" "${ENUM}Enum" $SPEC
done
for FIELD in aiCreditsChat aiCreditsBlock aiCreditsColumn aiCreditsAssistant aiCreditsReviewer aiCredits; do
    $SDF "$FIELD," "$FIELD" $SPEC
done
# add the "json" language tag
$SDF '[JSON-LD](https://json-ld.org/) format.\\n\\n```\\n  // Currency' '[JSON-LD](https://json-ld.org/) format.\\n\\n```json\\n  // Currency' $SPEC
cat $SPEC \
    | jq 'del(.paths["/docs/{docId}/hooks/automation/{ruleId}"].post.requestBody.content["application/x-www-form-urlencoded","text/plain"])' \
    | jq . \
    | sponge $SPEC

cargo progenitor -i $SPEC -o $TEMP -n coda_api -v 0.1.0
mkdir -p src
rm -f "$LIB"
# #![allow(unreachable_code)] is needed to work around .clone() calls on empty enums
# this line must be at the top of the file
echo "#![allow(unreachable_code)]" >> $LIB
cat $TEMP/$LIB >> $LIB
$SDF '///!' '/// !' $LIB
$SDF "elided_named_lifetimes" "mismatched_lifetime_syntaxes" $LIB
$SDF "pub struct Client {" "pub struct RawClient {" $LIB
$SDF "impl Client {" "impl RawClient {" $LIB
$SDF "for Client {" "for RawClient {" $LIB
$SDF "for &Client {" "for &RawClient {" $LIB
$SDF "pub use super::Client;" "pub use super::RawClient;" $LIB
# echo "mod metadata;" >> $LIB
# echo "pub use metadata::*;" >> $LIB
echo "mod ext;" >> $LIB
echo "pub use ext::*;" >> $LIB
echo "mod client;" >> $LIB
echo "pub use client::*;" >> $LIB
echo "mod limiter;" >> $LIB
echo "pub use limiter::*;" >> $LIB
echo "#[cfg(test)] pub mod test;" >> $LIB

# `fix` must be executed before `fix:type`
mise run fix
mise run fix:type "pub enum PushButtonResult" snippets/PushButtonResult src/lib.rs
mise run test
"""

[tasks."fix:docs"]
# use `rumdl fmt` instead of `rumdl check --fix` because `rumdl fmt` exits with 0 after fixing the errors
run = "rumdl fmt"

[tasks."repomix"]
usage = """
arg "<file>"
arg "[rest]" var=#true
"""
run = """
#!/usr/bin/env bash
set -xeuo pipefail
dir=$MISE_PROJECT_ROOT
file=$usage_file
header=$(taplo get -f "$dir/Cargo.toml" "package.description")
repomix \
    --include src,tests,examples \
    --no-file-summary \
    --no-directory-structure \
    --header-text "$header" \
    --output "$file" \
    {{arg(name="rest")}} \
    "$@" \
    $dir
"""

[tasks."agent:on:stop"]
depends = ["fix", "agent:test"]

[tasks."agent:test"]
depends = ["agent:test:code", "test:docs"]

[tasks."agent:test:code"]
# don't include `--fail-fast` because it's better to let the agent see all failures
# reduce output to save tokens
run = "mise run test:code -- --cargo-quiet --hide-progress-bar --status-level fail --final-status-level flaky"
