name: CI
on: [ push, pull_request ]

env:
  RUST_BACKTRACE: 1
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
          - beta
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy, rustfmt
      - uses: jdx/mise-action@v2
        with:
          version: 2025.10.11
      - name: Remove rust from mise
        run: |
          # use the rust version that was installed in the previous step
          mise rm rust
      - uses: Swatinem/rust-cache@v2.8.0
      - run: lefthook run --force pre-commit
      - run: cargo hack test --feature-powerset
      - uses: wagoid/commitlint-github-action@v6
        with:
          failOnWarnings: true
          failOnErrors: true
